<h1>About</h1>
<p><strong>stage1-bg20</strong></p>
<p><strong>組員:40823213,40823232</strong></p>
<p><strong>stage1組別網站:<a href="https://40823232.github.io/stage1-bg20/content/index.html" rel="nofollow">https://40823232.github.io/stage1-bg20/content/index.html</a></strong></p>
<p><strong>stage1 gitter:<a href="https://gitter.im/2020bg5/stage1-bg20">https://gitter.im/2020bg5/stage1-bg20</a></strong></p>
<p><strong>stage2-bg2</strong></p>
<p><strong>組員:40823213,40823232,40823234,40823235</strong></p>
<p><strong>stage2組別網站:<a href="https://40823232.github.io/stage2-bg2/content/index.html">https://40823232.github.io/stage2-bg2/content/index.html</a></strong></p>
<p><strong>stage2 gitter:<a href="https://gitter.im/stage2-bg2/community">https://gitter.im/stage2-bg2/community</a></strong></p>
<p><strong>stage3-bg1</strong></p>
<p><strong>組員:40823208,40823213,40823232,40823234,40823235,40823245,40823246,40823251</strong></p>
<p><strong>stage3組別網站:<a href="https://40823232.github.io/stage3-bg1/content/index.html">https://40823232.github.io/stage3-bg1/content/index.html</a></strong></p>
<p><strong>stage3 gitter:<a href="https://gitter.im/stage3-bg1/community">https://gitter.im/stage2-bg2/community</a></strong></p>
<h1>stage1各週進度</h1>
<p>建立網站並且分配組員工作。</p>
<h2>w1</h2>
<p>建立網站:<a href="https://40823232.github.io/cd2021/content/index.html">https://40823232.github.io/cd2021/content/index.html</a></p>
<p>建立網站影片：</p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/sQNwJw_0e8A" width="560"></iframe></p>
<p>stage1 gitter:</p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/dMTrcQpoMTI" width="560"></iframe></p>
<h2>w2討論主題</h2>
<p>進度規劃:</p>
<p><span>題目:遊樂設施</span><br/><span>動機:了解設施的構造，和作動的方式</span><br/><span>第二週:繪製零件圖，並使用coppeliasim進行模擬</span><br/><span>第三週:模擬問題討論及修改</span><br/><span>第四週:報告</span></p>
<h2>w3模擬</h2>
<p><span>桿子裝上馬達後無法控制升降的角度，因此嘗試使用連桿機構</span></p>
<p><span><a href="/downloads/試.ttt">模擬.ttt</a></span></p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/0NmMCvQcRZI" width="560"></iframe></p>
<p><span>因為這次主題需要用到連桿機構，故模擬pyslvs。</span></p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" data-mce-fragment="1" frameborder="0" height="315" src="https://www.youtube.com/embed/-B89z-x6EJs" width="560"></iframe></p>
<p>第一次模擬，雖然物體有升降，但路徑不是我們需要的</p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" data-mce-fragment="1" frameborder="0" height="315" src="https://www.youtube.com/embed/kchUARIZGBQ" width="560"></iframe></p>
<p>第二次模擬，路徑接近但滑塊會延伸過長，升降的範圍也較小。</p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" data-mce-fragment="1" frameborder="0" height="315" src="https://www.youtube.com/embed/j3qT5Tb-TvU" width="560"></iframe></p>
<p>第三次模擬，前方在下降的時候，會微微向前傾斜</p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" data-mce-fragment="1" frameborder="0" height="315" src="https://www.youtube.com/embed/M3PCjYE4Bk0" width="560"></iframe></p>
<p>第四次模擬，讓前方升降過程較為穩定</p>
<h2>w4報告</h2>
<p>小組每週報告:<a href="https://drive.google.com/file/d/1S_Bhv-FLX_4Cjk0eJq1HG1aufmpVPUrR/view?usp=sharing" title="stage1-bg20">stage1-bg20.pdf</a></p>
<p>小組reveal:<a href="https://40823232.github.io/stage1-bg20/reveal/index.html#/">https://40823232.github.io/stage1-bg20/reveal/index.html#/</a></p>
<p>個人報告影片:<a href="https://40823232.github.io/stage1-bg20/downloads/stage1-bg20.pdf" title="stage1-bg20"><br/><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/KtVmy-Y__zw" width="560"></iframe><br/></a></p>
<p><span>小組報告影片:</span></p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/NRdk9HfxXZE" title="YouTube video player" width="560"></iframe></p>
<p><strong><a href="/downloads/試.ttt">模擬.ttt</a>  <a href="/downloads/組合.stl">組合.stl</a></strong></p>
<h1>stage2各週進度</h1>
<p>我們的主題要沿用stage1，並加以改良</p>
<h2>w6</h2>
<p><strong>我們想利用三角函數的曲線驅動桿子沿著此路徑移動(繪圖者:40823213)</strong></p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="300" src="https://www.youtube.com/embed/DgqrmOVxLLM" title="YouTube video player" width="500"></iframe></p>
<p><a href="/downloads/支架.ipt">支架.ipt</a></p>
<p><a href="/downloads/主體.ipt">主體.ipt</a></p>
<p><a href="/downloads/底座.ipt">底座.ipt</a></p>
<p><a href="/downloads/容器.ipt">容器.ipt</a></p>
<p><a href="/downloads/組合3.iam">組合.iam</a></p>
<p><a href="/downloads/3d凸輪.ipt">3d凸輪.ipt</a></p>
<p><strong>第一次模擬(模擬者:40823234)<a href="/downloads/stage2.ttt">第一次模擬.ttt</a></strong></p>
<p><iframe allowfullscreen="allowfullscreen" height="300" src="https://www.youtube.com/embed/Qs_aJNafFXQ" width="500"></iframe></p>
<p><strong>在模擬後發現桿子沿著弧線移動時，弧線的波落差大，在移動的時候會有干涉</strong></p>
<h2>w7</h2>
<p><strong>第二次模擬(模擬者:40823234)<a href="/downloads/4-14.ttt">第二次模擬.ttt</a></strong></p>
<p><iframe allowfullscreen="allowfullscreen" height="300" src="https://www.youtube.com/embed/Ek2iuTPmg3w" width="500"></iframe></p>
<p><strong>改為平緩的弧線後，發現桿子移動一小段距離</strong><strong>，桿子的長度無法在弧線上約束</strong></p>
<p><strong>第三次模擬(模擬者:40823234)<a href="/downloads/4-16.ttt">第三次模擬.ttt</a></strong></p>
<p><iframe allowfullscreen="allowfullscreen" height="300" src="https://www.youtube.com/embed/XgOSriiNNqY" width="500"></iframe></p>
<p><strong>採用圓柱凸輪後，能夠約束桿子，不過旋轉中還是有抖動</strong></p>
<p>零件檔:</p>
<p><a href="https://40823213.github.io/stage2-bg2/downloads/%E5%87%B8%E8%BC%AA%E8%A8%AD%E8%A8%884-9.ipt">凸輪(第一版).ipt</a></p>
<p><a href="https://40823213.github.io/stage2-bg2/downloads/%E4%B8%BB%E9%AB%944-9-1.ipt">主體.ipt</a></p>
<p><a href="https://40823213.github.io/stage2-bg2/downloads/%E6%94%AF%E6%9E%B64-9.ipt">支架.ipt</a></p>
<p><a href="https://40823213.github.io/stage2-bg2/downloads/%E5%AE%B9%E5%99%A8.ipt">容器.ipt</a></p>
<p><a href="https://40823213.github.io/stage2-bg2/downloads/%E7%B5%84%E5%90%88(%E4%BF%AE%E6%94%B94-11).iam">組合.iam</a></p>
<p>w7</p>
<p><a href="https://40823213.github.io/stage2-bg2/downloads/%E6%94%AF%E6%9E%B64-9.ipt">支架4-9.ipt</a></p>
<p><a href="https://40823213.github.io/stage2-bg2/downloads/%E4%B8%BB%E9%AB%944-9-1.ipt">主體4-9-1.ipt</a></p>
<p><a href="https://40823213.github.io/stage2-bg2/downloads/%E5%87%B8%E8%BC%AA%E8%A8%AD%E8%A8%884-9.ipt">凸輪設計4-9.ipt</a></p>
<p><a href="https://40823213.github.io/stage2-bg2/downloads/%E7%B5%84%E5%90%88(%E4%BF%AE%E6%94%B94-11).iam">組合(修改4-11).iam</a></p>
<p>w8</p>
<p><a href="https://40823213.github.io/stage2-bg2/downloads/%E7%B5%84%E5%90%884-16.iam">凸輪4-1</a></p>
<p><a href="https://40823213.github.io/stage2-bg2/downloads/%E7%B5%84%E5%90%884-17.iam">組合4-17</a></p>
<p><a href="https://40823213.github.io/stage2-bg2/downloads/%E6%94%AF%E6%9E%B64-17.ipt">支架4-17</a></p>
<p><a href="https://40823213.github.io/stage2-bg2/downloads/%E7%B5%84%E5%90%884-15.iam">組合4-15</a></p>
<p><a href="https://40823213.github.io/stage2-bg2/downloads/%E6%94%AF%E6%9E%B64-15.ipt">支架4-15</a></p>
<p><a href="https://40823213.github.io/stage2-bg2/downloads/%E6%94%AF%E6%9E%B64-17-2.ipt">支架4-15-2</a></p>
<p><a href="https://40823213.github.io/stage2-bg2/downloads/3d%E5%87%B8%E8%BC%AA4-16.ipt">凸輪4-16</a></p>
<p>w9</p>
<p><a href="https://40823213.github.io/stage2-bg2/downloads/%E7%B5%84%E5%90%88.iam">組合</a></p>
<p><a href="https://40823213.github.io/stage2-bg2/downloads/%E6%94%AF%E6%9E%B64-17%E7%B8%AE%E5%B0%8F%E7%90%83%E9%AB%94.ipt">支架4-17縮小球體.ipt</a></p>
<p><a href="https://40823213.github.io/stage2-bg2/downloads/3d%E5%87%B8%E8%BC%AA4-16(%E7%AC%AC%E4%B8%89%E6%94%B9%E6%B3%95).ipt">3d凸輪4-16(第三改法).ipt</a></p>
<h2>w8</h2>
<p>建立heroku(教學在note裡)</p>
<p>heroku:<a class="hk-link" href="https://s40823232.herokuapp.com/" target="_blank">https://s40823232.herokuapp.com/</a></p>
<h2>w9報告</h2>
<p>小組報告影片</p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/CdGrZxv6S-g" title="YouTube video player" width="560"></iframe></p>
<p>reveal:<a href="https://40823232.github.io/stage2-bg2/reveal/index.html#/">https://40823232.github.io/stage2-bg2/reveal/index.html#/</a></p>
<p>pdf:<a href="https://drive.google.com/file/d/19qYz3ii_0UKM6-LDgllXJ0c9eKCVnI4A/view?usp=sharing">https://drive.google.com/file/d/19qYz3ii_0UKM6-LDgllXJ0c9eKCVnI4A/view?usp=sharing</a></p>
<p>最後產出類模組化設定</p>
<p>1.像這樣的凸輪上面有特製的紋路可供支架跑</p>
<p><img alt="" height="233" src="https://40823213.github.io/stage2-bg2/images/4-22.PNG" width="500"/></p>
<p>2.支架講解</p>
<p>支架在跑的時候會變成弧形，為了試驗他的弧形，刻意將桿子設計成可伸縮版本。</p>
<p><img alt="" height="234" src="https://40823213.github.io/stage2-bg2/images/%E8%A8%AD%E8%A8%88%E8%AC%9B%E8%A7%A3.PNG" width="500"/></p>
<p>2.但是如果要隨時改動尺寸的話太不方便了!所以設計這一種可以隨時更動的曲線。藉由改波峰多寡和上下大小來完成各種不同的設計。</p>
<p><img alt="" height="235" src="https://40823213.github.io/stage2-bg2/images/4-22-1.PNG" width="500"/></p>
<p>3.以下是總圖</p>
<p><img alt="" height="236" src="https://40823213.github.io/stage2-bg2/images/4-22-2.PNG" width="500"/></p>
<p>4.講解影片</p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" data-mce-fragment="1" frameborder="0" height="300" src="https://www.youtube.com/embed/gG0rgduvdMY" title="YouTube video player" width="500"></iframe></p>
<p><strong><a href="/downloads/4-16.ttt">模擬.ttt</a>  <a href="/downloads/組合1.stl">組合.stl</a></strong></p>
<p>參考資料</p>
<p><a href="https://www.evget.com/article/2020/8/13/37561.html">https://www.evget.com/article/2020/8/13/37561.html</a></p>
<p><a href="https://www.youtube.com/watch?v=s5O9_Ny9ufA">https://www.youtube.com/watch?v=s5O9_Ny9ufA</a></p>
<h1>stage3各週進度</h1>
<p>以task工作為主，並利用line群組通話討論接下來要做的主題</p>
<h2>w10</h2>
<p>gitter:<a href="https://gitter.im/stage3-bg1/community">https://gitter.im/stage3-bg1/community</a></p>
<p>小組討論主題，想把目前各組所做的題目合成一起，讓中間有關聯。</p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/xU15Pa6w8Wk" title="YouTube video player" width="560"></iframe></p>
<h3>ipv4連線</h3>
<p><strong>先到網路連線的ipv4更改成192.168.192.各自號碼</strong></p>
<p><img caption="false" height="198" src="/images/螢幕擷取畫面 2021-05-05 143713.png" width="500"/></p>
<p><strong>確定後，到黑窗輸入</strong></p>
<pre class="brush:py;auto-links:false;toolbar:false" contenteditable="false">python -m http.server 8000 --bind 192.168.192.各自號碼</pre>
<p><strong>接著至網址輸入192.168.192.各自號碼：8000，成功後網頁會變這樣</strong></p>
<p><span><strong><img caption="false" height="342" src="/images/螢幕擷取畫面 2021-05-05 143632.png" width="700"/></strong></span></p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/-iTYWLVWtVQ" title="YouTube video player" width="560"></iframe></p>
<h2>ｗ11</h2>
<p>測試obs直播串流</p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/aQz11-3sx2I" title="YouTube video player" width="560"></iframe></p>
<p></p>
<h3>task1</h3>
<p>參考:40823245</p>
<p><a href="https://40823245.github.io/stage3-bg1/downloads/stage3_2b.txt">stage3-2b.txt</a>文字檔</p>
<p>下面程式碼另存一個py檔</p>
<pre class="brush:py;auto-links:false;toolbar:false" contenteditable="false">def stu2b(account):
    if account == "40823231":
        return account + "-2"
    elif account[0:3] == "407":
        return "s" + account
    else:
        return account
 
teamb = []
 
# open file, default is read mode, since txt content no chinese char
# no encoding = "UTF-8" is needed
with open("stage3_2b.txt") as fh:
    # readlines will read into the whole line and put into list format
    # has \n at the end of each line
    data = fh.readlines()
#print(len(data))
for i in range(len(data)):
    group = data[i].rstrip("\n").split("\t")
    teamb.append(group)
     
output = ""    
seperator = "-"*10 + "&lt;br /&gt;"
 
for i in teamb[0:]:
    team = i[0]
    leader = stu2b(i[1])
    m1 = stu2b(i[3])
    m2 = stu2b(i[5])
    m3 = stu2b(i[7])
    m4 = stu2b(i[9])
    m5 = stu2b(i[11])
    m6 = stu2b(i[13])
     
    try:
        m7 = stu2b(i[15])
    except:
        m7 = ""
    try:
        m8 = stu2b(i[17])
    except:
        m8 = ""
         
    leaderrepo = "&lt;a href='http://github.com/" + leader + "/cd2021'&gt;" + leader + " repo&lt;/a&gt;"
    leadersite = "&lt;a href='http://" + leader + ".github.io/cd2021'&gt;" + leader +  " site&lt;/a&gt;"
    m1repo = "&lt;a href='http://github.com/" + m1 + "/cd2021'&gt;" + m1 + " repo&lt;/a&gt;"
    m1site = "&lt;a href='http://" + m1 + ".github.io/cd2021'&gt;" + m1 +  " site&lt;/a&gt;"
    m2repo = "&lt;a href='http://github.com/" + m2 + "/cd2021'&gt;" + m2 + " repo&lt;/a&gt;"
    m2site = "&lt;a href='http://" + m2 + ".github.io/cd2021'&gt;" + m2 +  " site&lt;/a&gt;"
    m3repo = "&lt;a href='http://github.com/" + m3 + "/cd2021'&gt;" + m3 + " repo&lt;/a&gt;"
    m3site = "&lt;a href='http://" + m3 + ".github.io/cd2021'&gt;" + m3 +  " site&lt;/a&gt;"
    m4repo = "&lt;a href='http://github.com/" + m4 + "/cd2021'&gt;" + m4 + " repo&lt;/a&gt;"
    m4site = "&lt;a href='http://" + m4 + ".github.io/cd2021'&gt;" + m4 +  " site&lt;/a&gt;"
    m5repo = "&lt;a href='http://github.com/" + m5 + "/cd2021'&gt;" + m5 + " repo&lt;/a&gt;"
    m5site = "&lt;a href='http://" + m5 + ".github.io/cd2021'&gt;" + m5 +  " site&lt;/a&gt;"
    m6repo = "&lt;a href='http://github.com/" + m6 + "/cd2021'&gt;" + m6 + " repo&lt;/a&gt;"
    m6site = "&lt;a href='http://" + m6 + ".github.io/cd2021'&gt;" + m6 +  " site&lt;/a&gt;"
  
 
    teamrepo = "&lt;a href='http://github.com/" + leader + "/" + team + "'&gt;" + team + " repo&lt;/a&gt;"
    teamsite =  "&lt;a href='http://" + m1 + ".github.io/" + team + "'&gt;" + team +  " site&lt;/a&gt;"
 
    output += teamrepo + " | " + teamsite + " | " +leaderrepo + " | " + leadersite + " | " +m1repo + " | " + m1site + " | " +m2repo + " | " + m2site + " | " +m3repo + " | " + m3site + " | " +m4repo + " | " + m4site + " | " +m5repo + " | " + m5site + " | " +m6repo + " | " + m6site 
     
    if m7 != "":
       m7repo = "&lt;a href='http://github.com/" + m7 + "/cd2021'&gt;" + m7 + " repo&lt;/a&gt;"
       m7site = "&lt;a href='http://" + m7 + ".github.io/cd2021'&gt;" + m7 +  " site&lt;/a&gt;"   
       output += " |  " + m7repo + "| " + m7site
    else:
        output += "" 
     
    if m8 != "":
       m8repo = "&lt;a href='http://github.com/" + m8 + "/cd2021'&gt;" + m8 + " repo&lt;/a&gt;"
       m8site = "&lt;a href='http://" + m8 + ".github.io/cd2021'&gt;" + m8 +  " site&lt;/a&gt;"   
       output += " |  " + m8repo + "| " + m8site + "&lt;br /&gt;" + seperator
    else:
        output += "&lt;br /&gt;" + seperator
 
 
print(output)
# the following will use group data to generate needed html</pre>
<p>在白窗執行，將結果貼上</p>
<p><img alt="" height="450" src="/images/Screenshot 2021-05-07 150804.png" width="800"/></p>
<p><a href="http://github.com/40823245/stage3-bg1">stage3-bg1 repo</a> | <a href="http://40823251.github.io/stage3-bg1">stage3-bg1 site</a> | <a href="http://github.com/40823245/cd2021">40823245 repo</a> | <a href="http://40823245.github.io/cd2021">40823245 site</a> | <a href="http://github.com/40823251/cd2021">40823251 repo</a> | <a href="http://40823251.github.io/cd2021">40823251 site</a> | <a href="http://github.com/40823208/cd2021">40823208 repo</a> | <a href="http://40823208.github.io/cd2021">40823208 site</a> | <a href="http://github.com/40823213/cd2021">40823213 repo</a> | <a href="http://40823213.github.io/cd2021">40823213 site</a> | <a href="http://github.com/40823232/cd2021">40823232 repo</a> | <a href="http://40823232.github.io/cd2021">40823232 site</a> | <a href="http://github.com/40823234/cd2021">40823234 repo</a> | <a href="http://40823234.github.io/cd2021">40823234 site</a> | <a href="http://github.com/40823235/cd2021">40823235 repo</a> | <a href="http://40823235.github.io/cd2021">40823235 site</a> | <a href="http://github.com/40823246/cd2021">40823246 repo</a>| <a href="http://40823246.github.io/cd2021">40823246 site</a><br/>----------<br/><a href="http://github.com/40823217/stage3-bg2">stage3-bg2 repo</a> | <a href="http://40823201.github.io/stage3-bg2">stage3-bg2 site</a> | <a href="http://github.com/40823217/cd2021">40823217 repo</a> | <a href="http://40823217.github.io/cd2021">40823217 site</a> | <a href="http://github.com/40823201/cd2021">40823201 repo</a> | <a href="http://40823201.github.io/cd2021">40823201 site</a> | <a href="http://github.com/40823209/cd2021">40823209 repo</a> | <a href="http://40823209.github.io/cd2021">40823209 site</a> | <a href="http://github.com/40823210/cd2021">40823210 repo</a> | <a href="http://40823210.github.io/cd2021">40823210 site</a> | <a href="http://github.com/40823206/cd2021">40823206 repo</a> | <a href="http://40823206.github.io/cd2021">40823206 site</a> | <a href="http://github.com/40823207/cd2021">40823207 repo</a> | <a href="http://40823207.github.io/cd2021">40823207 site</a> | <a href="http://github.com/40823223/cd2021">40823223 repo</a> | <a href="http://40823223.github.io/cd2021">40823223 site</a> | <a href="http://github.com/40823224/cd2021">40823224 repo</a>| <a href="http://40823224.github.io/cd2021">40823224 site</a><br/>----------<br/><a href="http://github.com/40823236/stage3-bg3">stage3-bg3 repo</a> | <a href="http://40823202.github.io/stage3-bg3">stage3-bg3 site</a> | <a href="http://github.com/40823236/cd2021">40823236 repo</a> | <a href="http://40823236.github.io/cd2021">40823236 site</a> | <a href="http://github.com/40823202/cd2021">40823202 repo</a> | <a href="http://40823202.github.io/cd2021">40823202 site</a> | <a href="http://github.com/40823203/cd2021">40823203 repo</a> | <a href="http://40823203.github.io/cd2021">40823203 site</a> | <a href="http://github.com/40823212/cd2021">40823212 repo</a> | <a href="http://40823212.github.io/cd2021">40823212 site</a> | <a href="http://github.com/40823219/cd2021">40823219 repo</a> | <a href="http://40823219.github.io/cd2021">40823219 site</a> | <a href="http://github.com/40823222/cd2021">40823222 repo</a> | <a href="http://40823222.github.io/cd2021">40823222 site</a> | <a href="http://github.com/40823231-2/cd2021">40823231-2 repo</a> | <a href="http://40823231-2.github.io/cd2021">40823231-2 site</a> | <a href="http://github.com/40823244/cd2021">40823244 repo</a>| <a href="http://40823244.github.io/cd2021">40823244 site</a><br/>----------<br/><a href="http://github.com/40823239/stage3-bg4">stage3-bg4 repo</a> | <a href="http://s40723140.github.io/stage3-bg4">stage3-bg4 site</a> | <a href="http://github.com/40823239/cd2021">40823239 repo</a> | <a href="http://40823239.github.io/cd2021">40823239 site</a> | <a href="http://github.com/s40723140/cd2021">s40723140 repo</a> | <a href="http://s40723140.github.io/cd2021">s40723140 site</a> | <a href="http://github.com/s40723128/cd2021">s40723128 repo</a> | <a href="http://s40723128.github.io/cd2021">s40723128 site</a> | <a href="http://github.com/s40723139/cd2021">s40723139 repo</a> | <a href="http://s40723139.github.io/cd2021">s40723139 site</a> | <a href="http://github.com/s40723106/cd2021">s40723106 repo</a> | <a href="http://s40723106.github.io/cd2021">s40723106 site</a> | <a href="http://github.com/s40723135/cd2021">s40723135 repo</a> | <a href="http://s40723135.github.io/cd2021">s40723135 site</a> | <a href="http://github.com/s40723143/cd2021">s40723143 repo</a> | <a href="http://s40723143.github.io/cd2021">s40723143 site</a> | <a href="http://github.com/s40723215/cd2021">s40723215 repo</a>| <a href="http://s40723215.github.io/cd2021">s40723215 site</a><br/>----------<br/><a href="http://github.com/40823221/stage3-bg5">stage3-bg5 repo</a> | <a href="http://40823204.github.io/stage3-bg5">stage3-bg5 site</a> | <a href="http://github.com/40823221/cd2021">40823221 repo</a> | <a href="http://40823221.github.io/cd2021">40823221 site</a> | <a href="http://github.com/40823204/cd2021">40823204 repo</a> | <a href="http://40823204.github.io/cd2021">40823204 site</a> | <a href="http://github.com/40823205/cd2021">40823205 repo</a> | <a href="http://40823205.github.io/cd2021">40823205 site</a> | <a href="http://github.com/40823220/cd2021">40823220 repo</a> | <a href="http://40823220.github.io/cd2021">40823220 site</a> | <a href="http://github.com/40823228/cd2021">40823228 repo</a> | <a href="http://40823228.github.io/cd2021">40823228 site</a> | <a href="http://github.com/40823237/cd2021">40823237 repo</a> | <a href="http://40823237.github.io/cd2021">40823237 site</a> | <a href="http://github.com/40823242/cd2021">40823242 repo</a> | <a href="http://40823242.github.io/cd2021">40823242 site</a> | <a href="http://github.com/40823250/cd2021">40823250 repo</a>| <a href="http://40823250.github.io/cd2021">40823250 site</a> | <a href="http://github.com/40832244/cd2021">40832244 repo</a>| <a href="http://40832244.github.io/cd2021">40832244 site</a><br/>----------<br/><a href="http://github.com/40823225/stage3-bg6">stage3-bg6 repo</a> | <a href="http://40823214.github.io/stage3-bg6">stage3-bg6 site</a> | <a href="http://github.com/40823225/cd2021">40823225 repo</a> | <a href="http://40823225.github.io/cd2021">40823225 site</a> | <a href="http://github.com/40823214/cd2021">40823214 repo</a> | <a href="http://40823214.github.io/cd2021">40823214 site</a> | <a href="http://github.com/40823218/cd2021">40823218 repo</a> | <a href="http://40823218.github.io/cd2021">40823218 site</a> | <a href="http://github.com/40823211/cd2021">40823211 repo</a> | <a href="http://40823211.github.io/cd2021">40823211 site</a> | <a href="http://github.com/40823248/cd2021">40823248 repo</a> | <a href="http://40823248.github.io/cd2021">40823248 site</a> | <a href="http://github.com/40823247/cd2021">40823247 repo</a> | <a href="http://40823247.github.io/cd2021">40823247 site</a> | <a href="http://github.com/40823216/cd2021">40823216 repo</a> | <a href="http://40823216.github.io/cd2021">40823216 site</a> | <a href="http://github.com/40823238/cd2021">40823238 repo</a>| <a href="http://40823238.github.io/cd2021">40823238 site</a><br/>----------<br/><a href="http://github.com/40623144/stage3-bg7">stage3-bg7 repo</a> | <a href="http://40823233.github.io/stage3-bg7">stage3-bg7 site</a> | <a href="http://github.com/40623144/cd2021">40623144 repo</a> | <a href="http://40623144.github.io/cd2021">40623144 site</a> | <a href="http://github.com/40823233/cd2021">40823233 repo</a> | <a href="http://40823233.github.io/cd2021">40823233 site</a> | <a href="http://github.com/s40723224/cd2021">s40723224 repo</a> | <a href="http://s40723224.github.io/cd2021">s40723224 site</a> | <a href="http://github.com/40823241/cd2021">40823241 repo</a> | <a href="http://40823241.github.io/cd2021">40823241 site</a> | <a href="http://github.com/40423155/cd2021">40423155 repo</a> | <a href="http://40423155.github.io/cd2021">40423155 site</a> | <a href="http://github.com/40823227/cd2021">40823227 repo</a> | <a href="http://40823227.github.io/cd2021">40823227 site</a> | <a href="http://github.com/s40723233/cd2021">s40723233 repo</a> | <a href="http://s40723233.github.io/cd2021">s40723233 site</a><br/>----------</p>
<h2>w12</h2>
<p>task2  測試日期:2021/5/14</p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/Fl1O_Nr4s-M" title="YouTube video player" width="560"></iframe></p>
<pre class="brush:py;auto-links:false;toolbar:false" contenteditable="false">import sim as vrep
import math
import random
import time
 
print ('Start')
 
# Close eventual old connections
vrep.simxFinish(-1)
# Connect to V-REP remote server
clientID = vrep.simxStart('192.168.192.115', 19997, True, True, 5000, 5)
 
if clientID != -1:
    print ('Connected to remote API server')
 
    res = vrep.simxAddStatusbarMessage(
        clientID, "40823232",
        vrep.simx_opmode_oneshot)
    if res not in (vrep.simx_return_ok, vrep.simx_return_novalue_flag):
        print("Could not add a message to the status bar.")
    # Communication operating mode with the remote API : wait for its answer before continuing (blocking mode)
    # http://www.coppeliarobotics.com/helpFiles/en/remoteApiConstants.htm
    opmode = vrep.simx_opmode_oneshot_wait
 
    # Try to retrieve motors and robot handlers
    # http://www.coppeliarobotics.com/helpFiles/en/remoteApiFunctionsPython.htm#simxGetObjectHandle
    vrep.simxStartSimulation(clientID,opmode)
    ret1,front_handle = vrep.simxGetObjectHandle(clientID, "Revolute_joint", opmode)
    

else:
    print ('Failed connecting to remote API server')</pre>
<h2>w13建立gitlab</h2>
<p>因為個人github遭到封鎖，故建立gitlab</p>
<p>在網頁搜尋gitlab sign up建立自己的帳號，並建立倉儲</p>
<p><img alt="" height="391" src="/images/螢幕擷取畫面 2021-05-24 113343.png" width="800"/></p>
<p>倉儲要設為public且Initialize repository with a README不要打勾。</p>
<p>到黑窗的倉儲輸入git branch查看分支狀態，再到倉儲跟目錄找出.gitlab-ci.yml用白窗打開將master改成main</p>
<p><img alt="" height="652" src="/images/螢幕擷取畫面 2021-05-24 113914.png" width="500"/></p>
<p>save完後acp再輸入</p>
<pre class="brush:py;auto-links:false;toolbar:false" contenteditable="false">git remote add gitlab https://gitlab.com/40823232/倉儲名.git
</pre>
<p>然後git push gitlab。到gitlab確定有推上去(commit會打勾)，再到setting的page重整會有出現網址</p>
<p><img alt="" height="388" src="/images/螢幕擷取畫面 2021-05-24 115408.png" width="800"/></p>
<p>該網址為網站連結。</p>
<p>ssh做法與之前相同，但putty要新增一個gitlab.com到auth選擇鑰匙</p>
<p><img alt="" height="442" src="/images/螢幕擷取畫面 2021-05-24 115814.png" width="452"/></p>
<p><img alt="" height="442" src="/images/螢幕擷取畫面 2021-05-24 115833.png" width="452"/></p>
<h3>小組直播影片</h3>
<p>課堂時段利用google meet進行小組討論</p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/XYh2GjPH3Rg" title="YouTube video player" width="560"></iframe></p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/kOrNTzDhSos" title="YouTube video player" width="560"></iframe></p>
<h2>W14</h2>
<p>RoboDK測試:</p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/D3z56JKyYZ8" title="YouTube video player" width="560"></iframe></p>
<h2>W15</h2>
<p>影片字幕整理</p>
<p>第一部:</p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/sujf5NZyNQQ" title="YouTube video player" width="560"></iframe></p>
<p>第二部:</p>
<p>開啟字幕</p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/J-hOQjeMXDo" title="YouTube video player" width="560"></iframe></p>
<h1>note</h1>
<p>課堂問題整理</p>
<h2>zoomit</h2>
<p><span><strong>CTRL+1</strong>縮放螢幕(能夠調整縮放倍率)</span></p>
<p><span><strong><span>Zoom</span></strong>模式的時候，按下<strong><span>滑鼠左鍵</span></strong>可以啟動「<span><strong>Draw</strong></span>模式」</span></p>
<p><span>退出<strong><span>Zoom</span></strong>模式，可以按<strong><span>滑鼠右鍵</span></strong>，或者是</span><span><b>ESC</b></span></p>
<p><span><b><img alt="" height="442" src="/images/Annotation 2020-10-23 145134.png" width="375"/></b></span></p>
<p><span><strong>CTRL+2</strong>進入<strong>DRAW</strong>模式(非縮放模式)</span></p>
<p><span><span><strong>CTRL+Z</strong></span>(退回上一步)</span></p>
<p><span><span><strong>隨意形狀</strong> </span>- 直接壓住<strong><span>滑鼠左鍵</span></strong>然後滑鼠移動想要的線條。</span></p>
<p><span><span><strong>直線</strong></span> - 壓住</span><span><span color="#ff00ff"><b>SHIFT</b></span></span><span>然後<strong><span>滑鼠左鍵</span></strong>然後話要的線條。</span></p>
<p><span><span><strong>方塊</strong></span> - 壓住<span><b>CTRL</b></span></span><span>然後<strong><span>滑鼠左鍵</span></strong>畫出方塊。</span></p>
<p><span><span><strong>圓圈</strong></span> - 壓住<span><b>TAB</b></span></span><span>然後<strong><span>滑鼠左鍵</span></strong>畫出圓圈。</span></p>
<p><span><span><strong>箭頭</strong> </span>- 壓住<span><strong>CTRL+SHIFT</strong></span></span><span>然後<strong><span>滑鼠左鍵</span></strong>畫出有箭頭的線。</span></p>
<p><span>按住<span><b>T</b></span>能夠打字(英文)</span></p>
<p><span><img alt="" height="444" src="/images/Annotation 2020-10-23 144638.png" width="379"/></span></p>
<h2>pelican.leo</h2>
<p><span>ctrl+i新增一頁</span></p>
<p><span>ctrl+u往上移動</span></p>
<p><span>ctrl+d往下移動</span></p>
<p><span>ctrl+r往右移動</span></p>
<p><span>ctrl+l往左移動</span></p>
<p><span>點兩下變更名稱</span></p>
<p><span><img alt="" height="331" src="/images/螢幕擷取畫面 2021-03-01 094823.png" width="450"/></span></p>
<p><span>編輯完成後，先save之後在local-blog按右鍵，再按goto script</span></p>
<p><span><img alt="" height="331" src="/images/螢幕擷取畫面 2021-03-01 095023.png" width="450"/></span></p>
<p><span>在黑窗執行這段文字後，就能到8444查看</span></p>
<p><span><img alt="" height="331" src="/images/螢幕擷取畫面 2021-03-01 102242.png" width="450"/></span></p>
<p><span>github-blog是直接推送到遠端(要在cd2021的倉儲提交)</span></p>
<p><span><img alt="" height="463" src="/images/螢幕擷取畫面 2021-03-01 105402.png" width="450"/></span></p>
<p><span>執行完畢後，add,commit,push</span></p>
<h2>coppeliasim</h2>
<p><img alt="" height="591" src="/images/螢幕擷取畫面 2021-03-14 161342.png" width="430"/></p>
<p>如果要讓零件產生碰撞要開啟respondable，上排表示同個基準的零件碰撞，下排是任何基準的零件碰撞</p>
<p>要讓零件動就要開啟dynamic</p>
<p><img alt="" height="611" src="/images/螢幕擷取畫面 2021-03-14 161407.png" width="430"/></p>
<p>如果要將物件隱藏要把camera visibility layers給取消</p>
<p><img alt="" height="496" src="/images/螢幕擷取畫面 2021-03-14 162238.png" width="526"/></p>
<p>這是將組合圖拆解，方便對各零件操作</p>
<p><img alt="" height="220" src="/images/螢幕擷取畫面 2021-03-14 162329.png" width="430"/></p>
<p><img alt="" height="222" src="/images/螢幕擷取畫面 2021-03-14 162401.png" width="430"/></p>
<p>要將兩物體綁在一起時，要按apply to selection(旋轉和移動)</p>
<h2>heroku</h2>
<p>先到<a href="https://heroku.com/">heroku</a>建立帳號，<span>以s+學號建立一個app(https://s學號.herokuapp.com)，之後</span></p>
<p><span>下載<a href="https://40823245.github.io/cd2021/downloads/heroku.7z">heroku</a>，放在data裡，並在start_ipv4.bat裡新增路徑</span></p>
<pre class="brush:py;auto-links:false;toolbar:false" contenteditable="false">set path_heroku=%Local%\heroku\bin;
 
%path_heroku%;</pre>
<p>關掉重開後，輸入</p>
<pre class="brush:py;auto-links:false;toolbar:false" contenteditable="false">heroku version</pre>
<p>再進到自己組別的資料夾，輸入</p>
<pre class="brush:py;auto-links:false;toolbar:false" contenteditable="false">git remote add heroku https://git.heroku.com/s40823232.git</pre>
<p>輸入完後可以在.git的config看到</p>
<p><img alt="" height="733" src="/images/螢幕擷取畫面 2021-05-16 140159.jpg" width="562"/></p>
<p>如果資料夾不是最新的檔案要先git pull，之後打heroku login -i，輸入heroku帳號的email和密碼，再打<span>git push heroku(以後push前資料夾不是最新的檔案都要先git pull)</span></p>
<h2>ssh</h2>
<p>在sh.exe創好金鑰，打ssh-keygen -t rsa -b 4096 -C "學號"，輸入要放的位置，按enter，在start_ipv4.bat新增</p>
<pre class="brush:py;auto-links:false;toolbar:false" contenteditable="false">set GIT_HOME=%Disk%:\Portablegit\bin\
set GIT_SSH=%Disk%:\putty\plink.exe</pre>
<p>在.git的config新增url = git@github.com:40823232/cd2021.git，打開<span>puttygen.exe的</span><span>load，找到id_rsa，s</span><span>ave private key</span></p>
<p><span><img alt="" height="471" src="/images/螢幕擷取畫面 2021-05-17 132131.png" width="479"/></span></p>
<p><span>開putty.exe，選</span><span>github.com，有proxy要設定，在auth找剛才的ppk，回到session按save</span></p>
<p><span><img alt="" height="442" src="/images/螢幕擷取畫面 2021-05-17 132026.png" width="452"/></span></p>
<p><span>之後到github的setting裡的ssh，把</span>id_rsa.pub的內容貼到Key</p>
<h1>W5</h1>
<p>乙班影片表格</p>
<p><iframe height="650" iframe="" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSYuENMShUqmueGJx7ol7iUW-6mSEY6VoPomTA76j5OysLtu-f53d-UvZgNmXcy4IzQugDd6_GAsfbn/pubhtml?gid=0&amp;single=true&amp;widget=true&amp;headers=false" width="400"></iframe></p>